*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex; /*This is to remove default display:block; property of body*/
    height: 100vh;
}

.leftpanel{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center; /*centers vertically*/
    justify-content: center; /*centers horiontally*/
    /*border: 2px solid black;*/
}

.washingmachine{
    
    height: 70vh;
    
}

.rightpanel{
    background-color: rgb(63, 170, 216);
    background-image: linear-gradient(to right, white,rgb(63, 170, 216)); /*Left to right linear gradient*/
    display: flex;
    height: 100vh;
    width: 50vw;
    align-items: center; /*centers vertically*/
    /*justify-content: center;*/ /*centers horiontally*/
    justify-content: flex-start;
    padding-left: 100px; /*rather than centering horizontally, looks clean*/
}

@font-face{
    font-family: 'Roboto';
    src: url(Roboto-VariableFont_wdth\,wght.ttf)
}

#greeting{
    font-size: 45px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#welcome{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(59, 58, 58);
}

/*.box{
    padding: 20px 60px 20px 15px;
}*/

.box{
    padding: 20px 15px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
}

/*better than last padding*/

.content{
    display: grid;
    row-gap: 25px;
    width: 400px;
}

.fieldbox{
    display: grid;
    row-gap: 8px;
    width: 100%;
}

.content button{
    width: 100%;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(5, 156, 237);
}

.content button:hover{
    color: black;
}

.login-form{
    display: grid;
    row-gap: 30px;
}

.forgotpass{
    display: inline-block;
    text-decoration: none;
    color: #373535;
    justify-self: end;
}

.forgotpass:hover{
    color: #004df5;
    /* text-decoration: underline; */
}

#register{
    /* font-family: 'Roboto',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    gap: 5px; /* space between text and link */
}

#register a{
    text-decoration: none;
}

#register a:hover{
    text-decoration: underline;
}